{% extends "base.html" %}

{% block title %}Contact - My Portfolio{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Contact Me</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="lead text-center">Feel free to reach out to me!</p>
                <p>Email: rolandyegon@gmail.com</p>
                <p>Phone: +254116513309</p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/roland-yegon/" target="_blank">https://www.linkedin.com/in/roland-yegon/</a></p>
                <p>GitHub: <a href="https://github.com/roland-yegon" target="_blank">https://github.com/roland-yegon</a></p>
                <p>Instagram: <a href="https://www.instagram.com/abyjiiroland/" target="_blank">https://www.instagram.com/abyjiiroland/</a></p>
            </div>
        </div>
    </div>
{% endblock %}